.tile {
  position: absolute;
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
}

/* .tile.empty {
  background-color: transparent;
} */

.tile.marked {
  background-color: black;
}

.tile.a {
  background-color: red;
}

.tile.b {
  background-color: blue;
}

.tile.c {
  background-color: green;
}

.tile.d {
  background-color: yellow;
}

.tile.cursor {
  background-color: white;
}

.inner-tile {
  position: absolute;
}

.tile.a > .inner-tile {
  background-color: red;
  position: absolute;
}

.tile.b > .inner-tile {
  background-color: blue;
  position: absolute;
}

.tile.c > .inner-tile {
  background-color: green;
  position: absolute;
}

.tile.d > .inner-tile {
  background-color: yellow;
  position: absolute;
}

.tile.empty > .inner-tile {
  background-color: #282c34;
  position: absolute;
}

.tile.marked > .inner-tile {
  background-color: black;
  position: absolute;
}

.tile.a.bottom {
  background-color: darkred;
  position: absolute;
}

.tile.a.bottom > .inner-tile {
  background-color: darkred;
  position: absolute;
}

.tile.b.bottom {
  background-color: darkblue;
  position: absolute;
}

.tile.b.bottom > .inner-tile {
  background-color: darkblue;
  position: absolute;
}

.tile.c.bottom {
  background-color: darkgreen;
  position: absolute;
}

.tile.c.bottom > .inner-tile {
  background-color: darkgreen;
  position: absolute;
}

.tile.d.bottom {
  background-color: orange;
  position: absolute;
}

.tile.d.bottom > .inner-tile {
  background-color: orange;
  position: absolute;
}