.tile {
  position: absolute;
  border-width: 2px;
  border-radius: 5px;
}

.tile.empty {
  background-color: transparent;
}

.tile.nonempty {
  background-color: white;
}

.tile.cursor {
  background-color: gray;
}

.inner-tile {
  background-color: white;
  position: absolute;
}