.tile {
  position: absolute;
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
}

.tile.empty {
  background-color: transparent;
}

.tile.nonempty {
  background-color: white;
}