.tile {
  height: 10%;
  width: 20%;
  margin: 10px;
  top: 400px;
  left: 400px;
  position: relative;
}

.tile.empty {
  background-color: transparent;
}

.tile.nonempty {
  background-color: white;
}