.tile {
  position: absolute;
  border-width: 2px;
  border-radius: 5px;
  background-color: transparent;
}

/* .tile.empty {
  background-color: transparent;
} */

.tile.a {
  background-color: red;
}

.tile.b {
  background-color: blue;
}

.tile.c {
  background-color: green;
}

.tile.d {
  background-color: yellow;
}

.tile.cursor {
  background-color: gray;
}

.inner-tile {
  background-color: white;
  position: absolute;
}